<tr>
  <td class="column-12 first last h3" colspan="2">
    {{ .message }}
  </td>
</tr>

{{ if .users }}
{{ $length := len .users }} {{ if gt $length 0 }}
<tr>
  <td class="column-12" style="padding-left: 0; padding-right: 0;">
    <table width="600" align="center" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td valign="top" class="column-6 first h5 strong">E-mail</td>
        <td valign="top" class="column-4 h5 strong">Wachtwoord</td>
        <td valign="top" class="column-2 last h5 strong">Login</td>
      </tr>
      {{ range $key, $user := .users }}
      <tr>
        <td valign="top" class="column-6 first">{{ $user.email }}</td>
        <td valign="top" class="column-4">{{ $user.password }}</td>
        <td valign="top" class="column-2 last"><a href="{{ $user.login }}">Login</a></td>
      </tr>
      {{ end }}
    </table>
  </td>
</tr>
{{ end }}
{{ end }}