<p>{{ .message }}</p>
<p></p>

{{ $length := len .users }} {{ if gt $length 0 }}
<table width="600">
  <thead>
    <tr>
      <th width="200" align="left">E-mail</th>
      <th width="200" align="left">Password</th>
      <th width="200" align="left">Login</th>
    </tr>
  </thead>
  <tbody>
    {{ range $key, $user := .users }}
    <tr>
      <td>{{ $user.email }}</td>
      <td>{{ $user.password }}</td>
      <td><a href="{{ $user.login }}">Login</a></td>
    </tr>
    {{ end }}
  </tbody>
</table>
{{ end }}
