<p><strong>{{.observer}}</strong> heeft zojuist observatie <strong>#{{ .ref_number }}</strong> met <strong>{{ .severity }}</strong> prioriteit gedaan. Deze observatie is automatisch gegenereerd vanuit inspectie <strong>{{ .template_name }} #{{ .inspection_number }}</strong>.</p>

<table class="detail" width="100%">
  <tr><td class="caption" width="40%">Ref. nummer</td><td>#{{ .ref_number }}</td></tr>
  <tr><td class="caption" width="40%">Observatiedatum</td><td>{{ .date }}</td></tr>
  <tr><td class="caption" width="40%">Locatie</td><td>{{ .location }}</td></tr>
  <tr><td class="caption" width="40%">Prioriteit</td><td><span class="severity {{ .severity_style }}">{{ .severity }}</span></td></tr>
  <tr><td class="caption" width="40%">Template</td><td>{{ .template_name }}</td></tr>
  <tr><td class="caption" width="40%">Inspection</td><td>{{ .inspection_number }}</td></tr>
  {{ if .key_name }}<tr><td class="caption" width="40%">{{ .key_name}}</td><td>{{ .key_value }}</td></tr>{{ end }}
  {{ range $key, $item := .items }}
    <tr><td class="caption" width="40%">{{ $item.Title }}</td><td class="textasis">{{ $item.Value }}</td></tr>
  {{ end }}
  <tr><td colspan="2">&nbsp;</td></tr>

  {{ range $key, $note := .notes }}
    <tr><td colspan="2" class="note">&quot;{{ $note }}&quot;</td></tr>
  {{ end }}
</table>
