<p>U ontvangt dit bericht omdat er een verzoek is gedaan om uw Safety Changer wachtwoord te wijzigen.</p>
<p>Een beheerder heeft uw account aangemaakt dan wel gewijzgd, of u heeft zelf verzocht uw wachtwoord te wijzigen.</p>
<p>Als u uw wachtwoord niet wilt wijzigen, dan kunt u dit bericht negeren.</p>
<p>
  <a href="{{ .link }}">Klik hier om uw wachtwoord te wijzigen</a>
</p>
<p> </p>
<p>
  U kunt ook onderstaande link kopi&#235;ren en in uw internet browser plakken:
  <br />
  {{ .link }}
</p>
