<p>Gefeliciteerd, uw Safety Changer account is aangemaakt!</p>

{{ if .password }}
  <p> </p>
  <p>Uw password voor Safety Changer is: {{ .password }}</p>
{{ end }}

<p> </p>
<p>
  <a href="{{ .link }}">Klik hier om nu in te loggen</a>
</p>
<p> </p>
<p>
  U kunt ook onderstaande link kopi&#235;ren en in uw internet browser plakken:
  <br />
  {{ .link }}
</p>
