<p><strong>Nieuwe publicatie beschikbaar! '{{.title}}'</strong></p>

<p class="textasis">
  {{ .publication_description }}
</p>

<table class="publication_incoming" width="100%">
  <tr><td class="caption" width="40%">Case file</td><td>{{ .casefile_name }}</td></tr>
  <tr><td class="caption" width="40%">Ref. nummer</td><td>{{ .ref_number }}</td></tr>
  <tr><td class="caption" width="40%">Observatiedatum</td><td>{{ .casefile_date }}</td></tr>
  <tr><td class="caption" width="40%">Locatie</td><td>{{ .casefile_location }}</td></tr>
  <tr><td class="caption" width="40%">Severity</td><td class="severity {{ .casefile_severity }}">{{ .casefile_severity }}</td></tr>

  {{ range $key, $att := .attributes }}
    <tr><td class="caption" width="40%">{{ $att.Title }}</td><td class="textasis">{{ $att.Value }}</td></tr>
  {{ end }}

  {{ $length := len .observations }} {{ if gt $length 0 }}
  <tr>
      <td class="caption" width="40%">Observervators</td>
      <td>
        <ul>
          {{ range $key, $value := .observations }}<li>{{ $value }}</li>{{ end }}
          </ul>
      </td>
  </tr>
  {{ end }}

  {{ $length := len .witnesses }} {{ if gt $length 0 }}
  <tr>
      <td class="caption" width="40%">Getuigen</td>
      <td>
        <ul>
          {{ range $key, $value := .witnesses }}<li>{{ $value.Name }}</li>{{ end }}
          </ul>
      </td>
  </tr>
  {{ end }}

  {{ $length := len .actions }} {{ if gt $length 0 }}
  <tr>
      <td class="caption" width="40%">Acties</td>
      <td>
        <ul>
          {{ range $key, $value := .actions }}<li>{{ $value }}</li>{{ end }}
          </ul>
      </td>
  </tr>
  {{ end }}
</table>
