<tr>
  <td class="column-12 first last h3" colspan="2">
    Attention!
  </td>
</tr>
<tr>
  <td class="column-12 first last" colspan="2">
    <strong>{{ .template_name }} #{{ .inspection_number }}</strong> just generated an observation of <strong>{{ .severity }}</strong> severity.
  </td>
</tr>
<tr>
  <td class="column-3 first h5 strong">Ref. number</td>
  <td class="column-9 last">#{{ .ref_number }}</td>
</tr>
<tr>
  <td class="column-3 first h5 strong"><strong>Date</strong></td>
  <td class="column-9 last">#{{ .date }}</td>
</tr>
<tr>
  <td class="column-3 first h5 strong"><strong>Location</strong></td>
  <td class="column-9 last">#{{ .location }}</td>
</tr>
<tr>
  <td class="column-3 first h5 strong"><strong>Severity</strong></td>
  <td class="column-9 last"><span class="severity {{ .severity_style }}">{{ .severity }}</span></td>
</tr>
<tr>
  <td class="column-3 first h5 strong"><strong>Template</strong></td>
  <td class="column-9 last">#{{ .template_name }}</td>
</tr>
<tr>
  <td class="column-3 first h5 strong"><strong>Inspection</strong></td>
  <td class="column-9 last">#{{ .inspection_number }}</td>
</tr>
{{ if .key_name }}
<tr>
  <td class="column-3 first h5 strong">{{ .key_name}}</td>
  <td class="column-9 last">{{ .key_value }}</td>
</tr>
{{ end }}

{{ range $key, $item := .items }}
<tr>
  <td class="column-3 first h5 strong">{{ $item.Title }}</td>
  <td class="pre">{{ .key_value }}</td></tr>
{{ end }}

<tr>
  <td class="column-3 first h5 strong"><strong>Notes</strong></td>
  <td class="column-9 last">
    {{ range $key, $note := .notes }}
      <p><span class="h4 strong">&ldquo;</span>{{ $note }}<span class="h4 strong">&rdquo;</span></p>
    {{ end }}
  </td>
</tr>
