<tr>
  <td class="column-12 first last" colspan="2">
    <strong>{{.observer}}</strong> just recorded an observation of <strong>{{ .severity }}</strong> severity.
  </td>
</tr>
<tr>
  <td class="column-12" style="padding-left: 0; padding-right: 0;">
    <table width="600" align="center" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td valign="top" class="column-3 first h5 strong">Ref. number</td>
        <td valign="top" class="column-9 last">#{{ .ref_number }}</td>
      </tr>
      <tr>
        <td valign="top" class="column-3 first h5 strong">Date</td>
        <td valign="top" class="column-9 last">{{ .date }}</td>
      </tr>
      {{ $length := len .location }} {{ if gt $length 0 }}
      <tr>
        <td valign="top" class="column-3 first h5 strong">Location</td>
        <td valign="top" class="column-9 last">{{ .location }}</td>
      </tr>
      {{ end }}
      <tr>
        <td valign="top" class="column-3 first h5 strong">Severity</td>
        <td valign="top" class="column-9 last"><span class="severity extreme {{ .severity_style }}">{{ .severity }}</span></td>
      </tr>
      {{ $length := len .notes }} {{ if gt $length 0 }}
      <tr>
        <td valign="top" class="column-3 first h5 strong">Notes</td>
        <td valign="top" class="column-9 last">
          {{ range $key, $note := .notes }}
            <span class="h4 strong">&ldquo;</span>{{ $note }}<span class="h4 strong">&rdquo;</span>
            <br>
          {{ end }}
        </td>
      </tr>
      {{ end }}
    </table>
  </td>
</tr>
