<tr>
  <td class="column-12 first last" colspan="2">New publication available:</td>
</tr>
<tr>
  <td class="column-12 first last h4" colspan="2">
    <strong>&ldquo;</strong>{{.title}}<strong>&rdquo;</strong>
  </td>
</tr>
<tr>
  <td class="column-12" style="padding-left: 0; padding-right: 0;">
    <table width="600" align="center" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td valign="top" class="column-3 first h5 strong">Case file</td>
        <td valign="top" class="column-9 last">{{ .casefile_name }}</td>
      </tr>
      <tr>
        <td valign="top" class="column-3 first h5 strong">Ref. number</td>
        <td valign="top" class="column-9 last">#{{ .ref_number }}</td>
      </tr>
      <tr>
        <td valign="top" class="column-3 first h5 strong">Date</td>
        <td valign="top" class="column-9 last">{{ .casefile_date }}</td>
      </tr>
      <tr>
        <td valign="top" class="column-3 first h5 strong">Location</td>
        <td valign="top" class="column-9 last">{{ .casefile_location }}</td>
      </tr>
      <tr>
        <td valign="top" class="column-3 first h5 strong">Severity</td>
        <td valign="top" class="column-9 last"><span class="severity extreme {{ .casefile_severity_style }}">{{ .casefile_severity }}</span></td>
      </tr>
      <tr>
        <td class="column-12" colspan="2"></td>
      </tr>

      {{ range $key, $att := .attributes }}
      <tr>
        <td valign="top" class="column-3 first h5 strong">{{ $att.Title }}</td>
        <td valign="top" class="column-9 last pre">{{ $att.Value }}</td>
      </tr>
      {{ end }}

      {{ $length := len .observations }} {{ if gt $length 0 }}
      <tr>
        <td valign="top" class="column-3 first h5 strong">Observers</td>
        <td valign="top" class="column-9 last have-list">
          <ul>
          {{ range $key, $value := .observations }}
            <li>{{ $value }}</li>
          {{ end }}
          </ul>
        </td>
      </tr>
      {{ end }}

      {{ $length := len .witnesses }} {{ if gt $length 0 }}
      <tr>
        <td valign="top" class="column-3 first h5 strong">Witnesses</td>
        <td valign="top" class="column-9 last have-list">
          <ul>
          {{ range $key, $value := .witnesses }}
            <li>{{ $value.Name }}</li>
          {{ end }}
          </ul>
        </td>
      </tr>
      {{ end }}
    </table>
  </td>
</tr>
