<p>A new observation <strong>#{{ .ref_number }}</strong> with severity <strong>{{ .severity }}</strong> was just submitted by <strong>{{.observer}}</strong></p>

<table class="detail" width="100%">
  <tr><td class="caption" width="40%">Ref. number</td><td>#{{ .ref_number }}</td></tr>
  <tr><td class="caption" width="40%">Observation date</td><td>{{ .date }}</td></tr>
  <tr><td class="caption" width="40%">Location</td><td>{{ .location }}</td></tr>
  <tr><td class="caption" width="40%">Severity</td><td><span class="severity {{ .severity_style }}">{{ .severity }}</span></td></tr>
  <tr><td colspan="2">&nbsp;</td></tr>

  {{ range $key, $note := .notes }}
    <tr><td colspan="2" class="note">&quot;{{ $note }}&quot;</td></tr>
  {{ end }}
</table>
