<p>You've received this mail because of a request to (re)set your Safety Changer password.</p>
<p>Either an administrator created or updated your account, or you have requested for a password reset.</p>
<p>If you do not want to change your password, please discard this e-mail.</p>
<p>
  <a href="{{ .link }}">Click here to reset your password</a>
</p>
<p> </p>
<p>
  Alternatively, copy the following link and paste it into the address bar of your web browser:
  <br />
  {{ .link }}
</p>
