<p>Congratulations, your Safety Changer account has been created!</p>

{{ if .password }}
  <p> </p>
  <p>Your password to access Safety Changer is: {{ .password }}</p>
{{ end }}

<p> </p>
<p>
  <a href="{{ .link }}">Click here to login now</a>
</p>
<p> </p>
<p>
  Alternatively, copy the following link and paste it into the address bar of your web browser:
  <br />
  {{ .link }}
</p>
