<p><strong>New publication available! '{{.title}}'</strong></p>

<p class="textasis">
  {{ .publication_description }}
</p>

<table class="publication_incoming" width="100%">
  <tr><td class="caption" width="40%">Case file</td><td>{{ .casefile_name }}</td></tr>
  <tr><td class="caption" width="40%">Ref. number</td><td>{{ .ref_number }}</td></tr>
  <tr><td class="caption" width="40%">Observation date</td><td>{{ .casefile_date }}</td></tr>
  <tr><td class="caption" width="40%">Location</td><td>{{ .casefile_location }}</td></tr>
  <tr><td class="caption" width="40%">Severity</td><td><span class="severity {{ .casefile_severity-style }}">{{ .casefile_severity }}</span></td></tr>

  {{ range $key, $att := .attributes }}
    <tr><td class="caption" width="40%">{{ $att.Title }}</td><td class="textasis">{{ $att.Value }}</td></tr>
  {{ end }}

  {{ $length := len .observations }} {{ if gt $length 0 }}
  <tr>
      <td class="caption" width="40%">Observers</td>
      <td>
        <ul>
          {{ range $key, $value := .observations }}<li>{{ $value }}</li>{{ end }}
          </ul>
      </td>
  </tr>
  {{ end }}

  {{ $length := len .witnesses }} {{ if gt $length 0 }}
  <tr>
      <td class="caption" width="40%">Witnesses</td>
      <td>
        <ul>
          {{ range $key, $value := .witnesses }}<li>{{ $value.Name }}</li>{{ end }}
        </ul>
      </td>
  </tr>
  {{ end }}

  {{ $length := len .actions }} {{ if gt $length 0 }}
  <tr>
      <td class="caption" width="40%">Actions</td>
      <td>
        <ul>
          {{ range $key, $value := .actions }}<li>{{ $value }}</li>{{ end }}
          </ul>
      </td>
  </tr>
  {{ end }}
</table>
